#users {
    padding-left:3%;
}
#chatbox {
    border: 5px solid rgba(0, 0, 0, 1);
    border-radius: 40px;
    height:400px;
    width:300px;
    margin-top:25px;
    position: absolute;
    left:.5%;
    transition: left ease .5s;
    z-index: 10;
}
.chatbox_hidden {
    left:-300px !important;
}
#hide-chatbox-button {
    position: absolute;
    left: 101%;
    top:5%;
}
#send-message {
    border-top: 1px solid gray;
    padding-top: 10px;
    width:100%;
    position:absolute;
    bottom:5px;
    text-align:center;
}
#message-input {
    width:50%;
}
#messages {
    height:90%;
    left:3%;
    width:97%;
    position:absolute;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
#messages::-webkit-scrollbar {
    display:none;
}
.message {
    padding : 4px;
}
.messageCreated {
    color: gray;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}
#settings {
    padding-left:3%;
}