<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Strike's Games</title>
    </head>
    <body id="body">
        <h1>Welcome to Lobby: <span th:text="${name}"></span></h1><br>
        <label for="username">Username:</label>
        <input id="username" title="Change Your Name Here" value="Anonymous" onkeydown="checkForChangeUsername()" size="50" maxlength="50">
        <div id="users"></div>
        <div id="invite">
            <p>Invite others using the link below!</p>
            <input id="invite-link" class="copyable autoselect" spellcheck="false" readonly="readonly" size="37">
            <button title="Copy URL" onclick="copyUrl()">Copy Url</button>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script>
        "use strict"
        //When the user changes name using the change name box, only send request to change name if it's been 3 seconds since last change name
        //used to limit amount of requests
        let secondsUntilNameChange = -1;
        setInterval(() => {
            if (secondsUntilNameChange == 0) {
                changeUsername(document.getElementById("username").value);
                //stop the timer
                secondsUntilNameChange = -1;
            } else {
                secondsUntilNameChange--;
            }
        },1000);
        function checkForChangeUsername() {
            //start a timer for 3 seconds
            secondsUntilNameChange = 3;
        }

        document.getElementById("invite-link").value = location.href;
        function copyUrl() {
            let copyText = document.getElementById("invite-link");
            copyText.select();
            copyText.setSelectionRange(0, 99999);
            navigator.clipboard.writeText(copyText.value);
            copyText
        }
        var lobby;
        var joined = false;
        let xhttp = new XMLHttpRequest();
        xhttp.onload = (event) => {
            if (xhttp.status === 200) {
                lobby = JSON.parse(xhttp.responseText);
                for (let user of lobby.users) {
                    let div = document.createElement("div");
                    div.className = "user";
                    div.innerHTML = user.name + (user.creator ? " (Lobby Creator)" : "");
                    document.getElementById("users").appendChild(div);
                }
                connectAndSend();
            } else {
                //alert("An error has occurred, more information in the console");
                console.log(event);
                console.log(xhttp);
            }
        };
        xhttp.open("POST","/api/lobby/join/"+location.pathname.substr(location.pathname.indexOf("/join/")+6));
        xhttp.send();

        function connectAndSend() {
            var socket = new SockJS('/join-lobby');
            var stompClient = Stomp.over(socket);
            stompClient.connect({}, function(frame) {
                console.log('Connected: ' + frame);
                stompClient.subscribe('/broker', function(messageOutput) {
                    console.log(messageOutput.body);
                });
            });
            setTimeout(() => {stompClient.send("/lobby/change-name", {}, "test") },1000);
        }
        function changeUsername(name) {
            if (name.length > 50) {
               alert("Name too long! Max is 50 characters");
            }
        }
    </script>
</html>