<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Strike's Games</title>
    </head>
    <body id="body">
        <h1>Welcome to Lobby: <span th:text="${name}"></span></h1><br>
        <div id="users"></div>
    </body>
    <script>
        "use strict"
        var lobby;
        let xhttp = new XMLHttpRequest();
        xhttp.onload = (event) => {
            lobby = JSON.parse(xhttp.responseText);
            console.log(lobby);
            for (let user of lobby.users) {
                let div = document.createElement("div");
                div.className = "user";
                div.innerHTML = user.name + (user.creator ? " (Lobby Creator)" : "");
                document.getElementById("users").appendChild(div);
            }
        };
        xhttp.open("POST","/api/lobby/join/"+location.pathname.substr(location.pathname.indexOf("/join/")+6));
        xhttp.send();
    </script>
</html>