<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" type="image/png" href="/image/logo.png">
        <title>Strike's Games</title>
        <link rel="stylesheet" href="/css/join.css">
    </head>
    <body id="body">
        <h1>Welcome to Lobby: <span th:text="${name}"></span></h1><br>
        <label for="username">Username:</label><br>
        <input id="username" title="Change Your Name Here" value="Anonymous" onkeydown="checkForChangeUsername()" size="50" maxlength="50">
        <p>Users:</p>
        <div id="users">
        </div>
        <div id="invite">
            <p>Invite others using the link below!</p>
            <input id="invite-link" class="copyable autoselect" spellcheck="false" readonly="readonly" size="37">
            <button title="Copy URL" onclick="copyUrl()">Copy Url</button>
        </div>
        <div id="chatbox">
            <div id="messages">

            </div>
            <div id="send-message">
                <label for="send-message">Message: </label>
                <input title="Send Message" id="message-input" onkeydown="checkForEnter(event)">
                <button title="Send" onclick="sendMessage()">Send</button>
            </div>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="/js/web-socket-messages.js"></script>
    <script src="/js/join.js"></script>
</html>