#chatbox {
    bottom: 50px;
}
#users {
    position: absolute;
    top: 20%;
}
#player-on-turn {
    font-size: 40px;
    position: absolute;
    left: 5%;
    top: 10%;
}
.user {
    padding: 10px;
}
img.role {
    height: 50px;
    width: 50px;
    float: left;
}
canvas {
    position: absolute;
}
@media only screen and (min-width: 600px) {
  canvas {
      left: 30%;
  }
}
@media only screen and (max-width: 600px) {
  canvas {
    top: 85%;
  }
  #chatbox {
    top: 0%;
  }
  #player-on-turn {
    top: 60%;
    left: 50%;
    transform: translate(-50%, 0);
  }
  #users {
    display: flex;
    top: 75%;
    left: 50%;
    transform: translate(-50%, 0);
  }
  button {
    position: absolute;
    top: 60%;
  }
}
